<style>
  #deleteModal {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    top: 0;
    background-color: rgba(22, 22, 22, 0.5);
    /* complimenting your modal colors */
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 100%;
  }

  .modal-content {
    position: relative;
    background-color: white;
    border-radius: 0.5rem;
    /* 8px */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    width: 75%;
  }

  .close-modal {
    color: rgb(156 163 175);
    background-color: black;
    border-radius: 0.5rem;
    /* 8px */
    font-size: medium;
    width: 2rem;
    /* 32px */
    height: 2rem;
    margin-inline-start: auto;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 2px 4px;
  }

  .close-modal:hover {
    background-color: rgb(229 231 235);
    color: rgb(17 24 39);
  }

  .icon-close-modal {
    width: 0.75rem;
    /* 12px */
    height: 0.75rem;
  }

  p {
    margin-bottom: 0.5rem;
    /* 8px */
    color: rgb(107 114 128);
    text-align: center;
  }

  .confirm-button {
    background-color: red;
  }

  .buttons {
    margin-bottom: 1.5rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .cancel-button,
  .confirm-button {
    margin: 2px 4px;
  }
</style>

<div id="deleteModal">

  <!-- Modal content -->
  <div class="modal-content">
    <button type="button" class="close-modal" {{on "click" this.close}}>
      {{!-- <svg class="icon-close-modal" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
        viewBox="0 0 14 14">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
      </svg> --}}
      X
      {{!-- <span class="sr-only">Close modal</span> --}}
    </button>
    <p>Are you sure you want to delete these tasks?</p>
    <p>Warning: these tasks are also be deleted permanently </p>
    <div class="buttons">
      <button class="cancel-button" {{on "click" this.close}}>
        No, cancel
      </button>
      <button class="confirm-button" {{on "click" this.deleteTasks}}>
        Yes, I'm sure
      </button>
    </div>
  </div>

</div>